.list {
    border: 3px black solid;
    table-layout: auto;
    width: 80%;
    vertical-align: baseline;
    text-align: left;
    border-collapse: separate;
}

#tHead {
    background-color: gray;
}

tbody tr {

    border: black 2px solid; 
}
/* tbody tr {
    background-color: blue;
} */